nav {
    background-color: white;
    padding: 10px 0px;
}

a {
    transition: 0.1s;
}

a:hover {
    color: #0D1B2A;
    font-weight: 600;
}

/* TODO: active class - CSS
.active {
    color: tomato;
} */

ul {
    align-items: center;
}

.cart-icon:hover {
    background-color: #0D1B2A;
    color: white;
}

.cart-icon{
    font-size: large;
    background-color: #E0E1DD ;
}