* {
  color: #0d1b2a;
}

nav {
  background-color: white;
  padding: 0px 0px;
}

a {
  transition: 0.1s;
  font-weight: 500;
}

a:hover {
  color: #415a77;
}
span:hover {
  color: #415a77;
}

i:hover {
    color: #415a77;
  }


ul {
  align-items: center;
}

.cart-icon:hover {
  background-color: #0d1b2a;
  color: white;
}

.cart-icon {
  font-size: large;
  background-color: #e0e1dd;
}
