

<div class="container">

    <article class="row">

        <div class="miFoto">

        </div>

        <div class="col-6">
            <h1>White Shirt</h1>

            <h5>$ Price</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eos ad quae optio repellendus quas perferendis temporibus eum, facilis est nihil consequatur natus quisquam minima quo ut, magni consectetur? Quod. Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto recusandae fuga eaque consequatur laudantium nulla molestiae corporis deleniti sunt eos eveniet rerum voluptate velit, obcaecati esse qui sit maiores excepturi.</p>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false"> Select Size </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item">Talla 1</a></li>
                    <li><a class="dropdown-item">Talla 2</a></li>
                    <li><a class="dropdown-item">Talla 3</a></li>
                </ul>
            </div>

            <button type="button" class="btn btn-outline-secondary">Secondary</button>

            <p><span>Category:</span>Aqui la categoria</p>

        </div>

        


    </article>



















</div>
