.box {
    height: 30vh;
    background-color: var(--lightBlue);
    text-align: center;
    border-radius: 25px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

div>a {
    text-decoration: none;
    color: white;
    display: block;
}

.box:hover {
    background-color: var(--darkBlue);
}

/* Mediaquery mobile */

@media only screen and (max-width: 800px) {

    .row {
        flex-direction: column;
    }

    .box {
        height: 10vh;
        margin: 0.425rem 0;
    }

}