<h1 class="mb-5">Dashboard</h1>

<div class="mb-5">
    <div class="row">
        <div class="col">
            <a routerLink="products">
                <div class="col box">Products</div>
            </a>
        </div>
        <div class="col">
            <a routerLink="categories">
                <div class="col box">Categories</div>
            </a>
        </div>

        <div class="col">
            <a routerLink="orders">
                <div class="col box">Orders</div>
            </a>
        </div>
    </div>
</div>