<div class="container">
    <hr>
    <div class="orders">
        <!-- @for -->
        <!-- @if (array.lenght === 0) 'mensaje' -->
        <div class="d-flex gap-2 justify-content-left order">
            <button class="field code">Order #: Orders.code</button>
            <button class="field date">orders.created_at</button>
            <button class="field user">User: users.name users.last_name</button>
            <button class="field status">Status: order.status</button>
        </div>
        <div class="d-flex gap-2 justify-content-left order">
            <button class="field code">Order #: Orders.code</button>
            <button class="field date">orders.created_at</button>
            <button class="field user">User: users.name users.last_name</button>
            <button class="field status">Status: order.status</button>
        </div>
        <div class="d-flex gap-2 justify-content-left order">
            <button class="field code">Order #: Orders.code</button>
            <button class="field date">orders.created_at</button>
            <button class="field user">User: users.name users.last_name</button>
            <button class="field status">Status: order.status</button>
        </div>
        <div class="d-flex gap-2 justify-content-left order">
            <button class="field code">Order #: Orders.code</button>
            <button class="field date">orders.created_at</button>
            <button class="field user">User: users.name users.last_name</button>
            <button class="field status">Status: order.status</button>
        </div>
        <div class="d-flex gap-2 justify-content-left order">
            <button class="field code">Order #: Orders.code</button>
            <button class="field date">orders.created_at</button>
            <button class="field user">User: users.name users.last_name</button>
            <button class="field status">Status: order.status</button>
        </div>
    </div>
    <hr>
</div>