article { 
    margin: 50px auto;

    padding: 70px 0px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; ;
}


.spacerSector {
    width: 20%;

}

i {
    font-size: 35px;
    color: #778DA9;
    margin-right: 25px;

}


@media (max-width: 768px) {

    .container.row.justify-content-between {
        display: flex;
        flex-direction: column;
    }

    .spacerSector {
        width: 100%;
    }
}